// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2022 Rockchip Electronics Co., Ltd.
 */

/dts-v1/;

#include "rv1106.dtsi"
#include "rv1106-evb.dtsi"
#include "rv1106-luckfox-pico-pro-max-ipc.dtsi"
#include <dt-bindings/input/input.h>
#include <dt-bindings/display/media-bus-format.h>


/ {
	model = "Luckfox Pico Max";
	compatible = "rockchip,rv1103g-38x38-ipc-v10", "rockchip,rv1106";



	leds {
        compatible = "gpio-leds";
        
        heartbeat_led {
            label = "heartbeat";
            gpios = <&gpio1 RK_PA0 GPIO_ACTIVE_LOW>;
            default-state = "on";
            //max-brightness = <255>;  // 手动设置最大亮度
            linux,default-trigger = "heartbeat";
            status = "okay";  // 这应该在每个 LED 节点下
        };
    };
    
    backlight: backlight {
    compatible = "gpio-backlight";
    gpios = <&gpio2 RK_PA7 GPIO_ACTIVE_HIGH>;
    default-on;  // 默认开启背光
    status = "okay";
};

	/*LCD_BL*/
	gpio2pa7:gpio2pa7 {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&gpio2_pa7>;
		regulator-name = "gpio2_pa7";
		regulator-always-on;
	};
 
	/*LCD_DC*/
    gpio2pb1:gpio2pb1 {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&gpio2_pb1>;
		regulator-name = "gpio2_pb1";
		regulator-always-on;
	};
 
	/*LCD_RES*/
    gpio2pb0:gpio2pb0 {
        compatible = "regulator-fixed";
        pinctrl-names = "default";
        pinctrl-0 = <&gpio2_pb0>;
        regulator-name = "gpio2_pb0";
        regulator-always-on;
    };

    sdio_pwrseq: sdio-pwrseq {
	compatible = "mmc-pwrseq-simple";
	pinctrl-names = "default";
	pinctrl-0 = <&wifi_enable_h>;
	reset-gpios = <&gpio1 RK_PA2 GPIO_ACTIVE_LOW>;//随便给的
	};


    wireless_wlan: wireless-wlan {
		compatible = "wlan-platdata";
		wifi_chip_type = "rtl8723ds";
		pinctrl-names = "default";
		WIFI,host_wake_irq = <&gpio3 RK_PC6 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
	

};

&spi0 {

	status = "okay";

        pinctrl-names = "default";

        pinctrl-0 = <&spi0m0_pins>;		// 包含clk,mi,mo
        cs-gpios=<&spi0m0_cs0>;
        #address-cells = <1>;
    	#size-cells = <0>;

	

        st7789v@0{

        status = "okay";

        compatible = "sitronix,st7789v";

        reg = <0>;
	rotate =<270>;
        spi-max-frequency = <32000000>;
        rgb;
	spi-cpol;
        spi-cpha;
	width = <135>;  // 修改为实际的宽度
    	height = <240>; // 修改为实际的高度
    	
        fps = <30>;

        buswidth = <8>;

        debug = <0x0>;
        
      
	cs-gpios = <&gpio1 RK_PC0 GPIO_ACTIVE_LOW>;     
        dc-gpios = <&gpio2 RK_PB1 GPIO_ACTIVE_HIGH>; 
        reset-gpios = <&gpio2 RK_PB0 GPIO_ACTIVE_LOW>; 
        backlight = <&backlight>;  // 引用背光节点
	};
};



/**********FLASH**********/
&sfc {
	status = "okay";
	flash@0 {
		compatible = "spi-nand";
		reg = <0>;
		spi-max-frequency = <75000000>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <1>;
	};
	
};

/**********SDMMC**********/
&sdmmc {
    max-frequency = <50000000>;
    bus-width = <4>;
    #address-cells = <1>;
    #size-cells = <0>;
    cap-sd-highspeed;
    cap-sdio-irq;
    keep-power-in-suspend;
    non-removable;
    supports-sdio;
    mmc-pwrseq = <&sdio_pwrseq>;
    pinctrl-names = "default";
    pinctrl-0 = <&sdmmc0_clk &sdmmc0_cmd &sdmmc0_bus4 &sdmmc0_det>;
    status = "okay";
    
     wifi@1 {
        reg = <1>;  // function 1 是标准 SDIO WLAN 的 function
        compatible = "realtek,rtl8723ds";
        interrupt-parent = <&gpio3>;
        interrupts = <RK_PC6 IRQ_TYPE_LEVEL_HIGH>; // 与 wireless_wlan 中的保持一致
        rockchip,wl-host-wake-gpios = <&gpio3 RK_PC6 GPIO_ACTIVE_HIGH>; // 可选，用于唤醒
        status = "okay";
    };
    
};


/**********ETH**********/
&gmac {
	status = "disabled";
};

/**********USB**********/
&usbdrd_dwc3 {
	status = "okay";
	dr_mode = "peripheral";
};



&pinctrl {


		/*dc*/
	    gpio2-pb1 {
		gpio2_pb1:gpio2-pb1 {
		    rockchip,pins = <2 RK_PB1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	    };

        /*LCD_RES*/
	gpio2-pb0 {
        	gpio2_pb0:gpio2-pb0 {
            		rockchip,pins = <2 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none>;
        	};
    	};
	
	 /*LCD_BACKLIGHT*/
	    gpio2-pa7 {
		gpio2_pa7:gpio2-pa7 {
		    rockchip,pins = <2 RK_PA7 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	    };
	    


	sdmmc0{
		sdmmc0_det: sdmmc0-det {
			rockchip,pins =
				/* sdmmc0_det */
				<3 RK_PA1 1 &pcfg_pull_down>;
		};
  	};
	
	wireless-wlan {
		wifi_host_wake_irq: wifi-host-wake-irq {
			rockchip,pins = <3 RK_PC6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	wifi-enable{
		wifi_enable_h:wifi-enable-h{
		rockchip,pins = <1 RK_PA2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

			 
};


/**********I2C**********/
/* I2C3_M1 */
&i2c3 {
	status = "disabled";
	clock-frequency = <100000>;
};

/* I2C1_M0 */
&i2c1 {
	status = "okay";
	clock-frequency = <400000>;
	pincrtl-0=<&i2c1m0_xfer>;
	pinctrl-names = "default";
	#address-cells = <1>;
    	#size-cells = <0>;
	
	mpu6050:mpu6050@68{
		compatible= "test,mpu6050";
		reg=<0x68>;
		status="okay";
	
	};

};


/**********UART**********/
/* UART3_M1 */
&uart3 {
	status = "disabled";
};

/* UART4_M1 */
&uart4 {
	status = "disabled";
};

/**********RTC**********/
&rtc {
	status = "okay";
};